astroid==2.4.2
attrs==20.3.0
autopep8==1.5.4
click==7.1.2
coverage==5.3
Flask==1.1.2
-e git+git@github.com:JonaGuzman/qr-form-flask-app.git@e9098ffbfdf70f39a901f9a1faee119b7a76704c#egg=flaskr
importlib-metadata==3.1.1
iniconfig==1.1.1
isort==5.6.4
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
packaging==20.8
Pillow==8.0.1
pkg-resources==0.0.0
pluggy==0.13.1
py==1.10.0
pycodestyle==2.6.0
pylint==2.6.0
pyparsing==2.4.7
pytest==6.1.2
qrcode==6.1
rope==0.18.0
six==1.15.0
toml==0.10.2
typed-ast==1.4.1
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.4.0
