{% extends 'base.html' %} {% block content %}
<form method="POST" action="/response">
  <div style="display: flex; justify-content: space-between;">
    <div>
      <label for="poster-name">Poster Name:</label>
      <input type="text" name="poster-name" required/>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="text" name="email" required/>
    </div>
  </div>
  {% for survey in surveys %}
  <div>
    <label for="{{survey['id'] }}">{{loop.index}}. {{survey['question'] }}</label>
    <input type="number" id="{{survey['id'] }}" min="0" max="5" value="0"/>
  </div>
  {% if not loop.last %}
  <hr />
  {% endif %} {% endfor %}
  <br>
  <input type="submit" value="Save" />
</form>
{% endblock %}
